  <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="30" height="32"><use xlink:href="#bootstrap"></use></svg>
      <h1 class="nav-title">MOVIES ARENA</h1>
    </a>

    <ul class="nav">
      <li class="nav-item"><a href="/browse" class="nav-link">Browse</a></li>
      <li class="nav-item"><a href="/favorites" class="nav-link active" aria-current="page">favorites</a></li>
      <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="/logout" class="nav-link">Log out</a></li>


    </ul>
  </header>

